@font-face {
  font-family: 'SoukouMincho';
  src: url(../fonts/SoukouMincho-subset.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  display: block;
}

.main-container {
  min-height: 100%;
  width: 100%;
  position: relative;
}

/* ---------------- HEADER ----------*/

header {
  display: flex;
  z-index: 2;
}

.header-upper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  padding: 10px;
  z-index: 10;
  background-color: white;
}

/* BURGER BUTTON */
.nav-burger {
  display: block;
  height: 50px;
  width: 55px;
  margin: 0;
  padding: 3px 5px;
  border: 2px solid #343436;
  border-radius: 10px;
}

.burger-line-1, .burger-line-2, .burger-line-3 {
  width: 40px;
  height: 5px;
  background-color: #343436;
  margin: 6px 0;
  transition: transform 0.1s ease-out;
}

.burger-line-1.cross {
  transform: translate(0px, 11px) rotate(45deg);
  transition: transform 0.3s ease-out;
}

.burger-line-2.cross {
  display: none;
  transition: display 0.3s ease-out;
}

.burger-line-3.cross {
  transform: rotate(-45deg);
  transition: transform 0.3s ease-out;
}

/* ---------------- NAV PAGE ----------*/

.nav-page {
  position: fixed;
  top: -999px;
  padding-top: 70px;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  opacity: 0;
}

.nav-page.show {
  top: 0px;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.nav-page-menu {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-page-menu > ul {
  display: flex;
  flex-direction: column;
}

.nav-page-menu > ul > li {
  margin: 5px 0;
  padding: 7px 15px;
  list-style-type: none;
  border-top: 2px solid #8b8d91;
  border-bottom: 2px solid #8b8d91;
  border-radius: 2px;
  font-size: 21px;
  text-align: center;
}

.nav-page-menu > ul > li > a {
  text-decoration: none;
  color: #343436;
}

.nav-page-footer {
  margin: 0 auto;
  padding-bottom: 20px;
}

.nav-footnote-1 {
  margin-top: 5px;
  color: #555656;
}

.nav-footnote-1 > h2 {
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  margin-bottom: 5px;
}

.nav-footnote-2 {
  width: 100%;
  margin-top: 10px;
  color: #555656;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.nav-footnote-2 > span > a {
  color: inherit;
  text-decoration: none;
}

/* ---------------- CONTENT ----------*/

.content {
  padding-top: 70px;
  padding-bottom: 250px;
  background-color: #fcf;
  z-index: 1;
}

/* TESTING ONLY */
.test {
  font-family: 'SoukouMincho';
  color: red;
  overflow: auto;
}

/* ---------------- ANIMATION ----------*/

.anim-img-previewer {
  margin-top: 30px;
  position: relative;
  width: 100%;
  border: 2px solid blue;
  /*width: 400px;*/
  /*height: 200px;*/
}

.anim-image-first {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.anim-img-previewer > .anim-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 800ms ease-in-out;
  -moz-transition: opacity 800ms ease-in-out;
  -ms-transition: opacity 800ms ease-in-out;
  -o-transition: opacity 800ms ease-in-out;
  transition: opacity 800ms ease-in-out;
}

/* ---------------- FOOTER ----------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: white;
  padding: 10px 15px 15px 15px;
}

.footnote-link--small {
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
  color: #555656;
  font-weight: normal;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.footnote-link--small > span > a {
  color: inherit;
  text-decoration: none;
}

.footnote-1 {
  margin-top: 25px;
  color: #555656;
}

.footnote-1 > h2 {
  font-size: inherit;
  font-weight: bold;
}

.footnote-2 {
  margin-top: 10px;
  color: #8b8d91;
  font-style: italic;
}

.footnote-2 > h2 {
  font-size: inherit;
  font-weight: bold;
}

/*
*
* RESOLUTION 550px ABOVE
*
*/

@media only screen and (min-width: 550px) {

  /* ---------------- ANIMATION ----------*/

  .anim-img-previewer {
    margin-top: 30px;
    position: relative;
    border: 0;
    width: 400px;
    height: 200px;
  }

  .anim-image-first {
    opacity: 1;
    width: 100%;
  }
}

/*
*
* RESOLUTION 900px ABOVE
*
*/

@media only screen and (min-width: 900px) {

}
