@font-face {
  font-family: 'SoukouMincho';
  src: url(../fonts/SoukouMincho-subset.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  display: block;
}

section {
  min-height: 100%;
  min-height: calc(100vh - 70px);
}

.main-container {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.jp-font {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  letter-spacing: 1px;
}

/* ---------------- HEADER ----------*/

header {
  display: flex;
  z-index: 2;
}

.header-upper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  padding: 10px;
  z-index: 10;
  background-color: white;
}

.header-logo {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.header-logo--img {
  height: 45px;
}

/* BURGER BUTTON */
.nav-burger {
  display: block;
  height: 50px;
  width: 55px;
  margin: 0;
  padding: 3px 5px;
  border: 2px solid #01579B;
  border-radius: 10px;
}

.burger-line-1, .burger-line-2, .burger-line-3 {
  width: 40px;
  height: 5px;
  background-color: #01579B;
  margin: 6px 0;
  transition: transform 0.1s ease-out;
}

.burger-line-1.cross {
  transform: translate(0px, 11px) rotate(45deg);
  transition: transform 0.3s ease-out;
}

.burger-line-2.cross {
  display: none;
  transition: display 0.3s ease-out;
}

.burger-line-3.cross {
  transform: rotate(-45deg);
  transition: transform 0.3s ease-out;
}

/* ---------------- NAV PAGE ----------*/

.nav-page {
  position: fixed;
  top: -999px;
  padding-top: 70px;
  width: 100%;
  height: 100vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  opacity: 0;
}

.nav-page.show {
  top: 0px;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.nav-page-menu {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-page-menu:after {
  content: "";
  display: block;
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/kazoku-small-min.png);
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.nav-page-menu > ul {
  display: flex;
  flex-direction: column;
}

.nav-page-menu > ul > li {
  margin: 5px 0;
  padding: 7px 15px;
  list-style-type: none;
  border-top: 2px solid #0288D1;
  border-bottom: 2px solid #0288D1;
  border-radius: 2px;
  font-size: 21px;
  text-align: center;
}

.nav-page-menu > ul > li > a {
  text-decoration: none;
  color: #01579B;
}

.nav-page-footer {
  margin: 0 auto;
  padding-bottom: 20px;
}

.nav-footnote-1 {
  margin-top: 5px;
  color: #0277BD;
}

.nav-footnote-1 > h2 {
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  margin-bottom: 5px;
}

.nav-footnote-2 {
  width: 100%;
  margin-top: 10px;
  color: #01579B;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.nav-footnote-2 > span > a {
  color: inherit;
  text-decoration: none;
}

/* ---------------- CONTENT ----------*/

.content {
  padding-top: 70px;
  padding-bottom: 250px;
  z-index: 1;
}

/* TESTING ONLY */
.test {
  font-family: 'SoukouMincho';
  color: red;
  overflow: auto;
}

/* ---------------- HERO ---------- */

.bg-accent {
  position: absolute;
  display: block;
  top: 70px;
  width: 100%;
  height: 200px;
  /*background: url(../images/backgrounds/bg-mask-1.png) no-repeat;*/
  z-index: 3;
}

.bg-accent > svg {
  position: absolute;
  z-index: 2;
}

.hero-text {
  position: absolute;
  top: 370px;
  font-size: 30px;
  z-index: 3;
  padding-left: 20px;
  color: white;
}

/* ---------------- ANIMATION ----------*/

.anim-img-previewer {
  /*margin-top: 30px;*/
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  height: 100%;
  height: calc(100vh - 70px);
}

.anim-image-first {
  opacity: 1;
}

.anim-img-previewer > .anim-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 800ms ease-in-out;
  -moz-transition: opacity 800ms ease-in-out;
  -ms-transition: opacity 800ms ease-in-out;
  -o-transition: opacity 800ms ease-in-out;
  transition: opacity 800ms ease-in-out;
}

/* ---------------- SECTION - PRODUCT INTRO ----------*/

.product-intro--section {
  padding: 0px 15px;
}

.product-intro--text {
  margin-top: 40px;
}

.product-intro--text > h2 {
  margin-bottom: 40px;
}

.product-intro--text > p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ---------------- SECTION - KENKAIRO ----------*/

.kenkairo--section {
  padding: 30px 15px 100px 15px;
  background: url(../images/backgrounds/bg-1-blue.jpg) no-repeat 30% 80% / cover;
  color: #E1F5FE;
}

/* ---------------- SECTION - ANALYSIS ----------*/

.analysis--section {
  padding: 30px 15px 100px 15px;
  background: url(../images/backgrounds/bg-2-azure2.jpg) no-repeat 30% 80% / cover;
}

.analysis-text {
  margin-bottom: 30px;
  color: #01579B;
}

.analysis-text > h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.analysis-text > p {
  font-size: 20px;
}

.analysis-select {
  font-size: 25px;
  color: #E1F5FE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(1, 58, 101, 0.5);
  padding: 20px 10px;
  border-radius: 15px;
}

.dropdown-year,
.dropdown-date,
.dropdown-download {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-year > label,
.dropdown-date > label {
  margin-right: 20px;
}

.dropdown-year > select,
.dropdown-date > select {
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: rgba(240, 255, 255, 0.6);
}

.dropdown-download {
  margin-bottom: 0px;
  justify-content: center;
}

.dropdown-download > button {
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  padding: 0px 15px;
  background-color: #E1F5FE;
  border: none;
  color: #01579B;
  font-weight: bold;
}

.dropdown-download > button:hover {
  cursor: pointer;
  background-color: #99ffff;
}

/* ---------------- FOOTER ----------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: #01579B;
  padding: 10px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jump-top {
  position: absolute;
  top: -30px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  background-color: inherit;
}

.return-top--symbol:before {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 5px;
  background-color: #E1F5FE;
  transform: translate(-6px, 0px) rotate(-45deg);
}

.return-top--symbol:after {
  content: '';
  display: block;
  width: 20px;
  height: 5px;
  background-color: #E1F5FE;
  transform: translate(5px, 0px) rotate(45deg)
}

.footnote-link--small {
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
  color: #80D8FF;
  font-weight: normal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.footnote-link--small > span > a {
  color: inherit;
  text-decoration: none;
}

.footnote-1 {
  width: 100%;
  margin-top: 20px;
  color: #80D8FF;
}

.footnote-1 > h2 {
  font-size: inherit;
  font-weight: bold;
}

.footnote-2 {
  width: 100%;
  margin-top: 10px;
  color: #4FC3F7;
  font-style: italic;
}

.footnote-2 > h2 {
  font-size: inherit;
  font-weight: bold;
}

/*
*
* RESOLUTION WIDTH 550px ABOVE
*
*/

@media only screen and (min-width: 550px) {

  /* ---------------- ANIMATION ----------*/

  .anim-img-previewer {
    position: relative;
    border: 0;
    width: 1600px;
    /*height: 200px;*/
  }

  .anim-image-first {
    opacity: 1;
    width: 1600px;
  }
}

/*
*
* RESOLUTION WIDTH 900px ABOVE
*
*/

@media only screen and (min-width: 900px) {

}

/*
*
* MOBILE LANDSCAPE MODE HEIGHT 415px BELOW
*
*/

@media only screen and (max-height: 415px) {
  .nav-page {
    flex-direction: row;
  }

  .nav-page-menu {
    width: 50%;
    padding-top: 0px;
    padding-bottom: 15px;
  }
}
/* iPhone 5* */
@media only screen and (max-height: 330px) {
  .nav-page-menu > ul > li {
    margin: 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/* iPhone 4* */
@media only screen and (max-height: 480px) and (min-height: 416px) {
  .nav-footnote-1 {
    position: absolute;
    left: -9999px;
  }
  .nav-footnote-2 {
    width: 150px;
  }
}
